body{
    margin: 0;
    padding: 0;
}
.client{
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px ;
}

footer section{
    height: 280px;
}
.foot-last{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}